/* General Styling */
html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button {
  min-width: 100px;
  min-height: 20px;
  border-radius: 5px;
  background-color: #0892d0;
  border: none;
  padding: 0.25em 1em;
  font-size: 1.1em;
  color: #f7f7f7;
  text-transform: uppercase;
}

button,
input {
  cursor: pointer;
}

.gameboard {
  display: none;
}

.container,
.gameboard {
  flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: auto;
  position: relative;
  top: 5em;
  background-color: #fdfdfd;
  height: 60vh;
  padding-top: 2em;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

#game_start {
  text-align: center;
}

#game_start h1 {
  margin-bottom: 50px;
  text-transform: uppercase;
}

.gameboard {
  padding: 1em;
}

.data {
  font: 1.5em/1.1 Arial, sans-serif;
  margin-bottom: 1em;
  background-color: navy;
  padding: 0.5em 1em;
  border-radius: 3px;
  color: #fdfdfd;
}

.question {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  padding-left: 1.5em;
}
.answers input {
  margin-right: 10px;
  margin-bottom: 10px;
}

.game_nav {
  margin-left: 1.5em;
}

.game_nav button {
  margin-right: 15px;
  padding: 0.25em 1em;
}

.game_nav button:disabled {
  background-color: #e6e6e6;
  color: #f7f7f7;
}

.results {
  height: 16.5px;
  margin-bottom: 10px;
  margin-left: 1.5em;
}
